
.mask {
  background: #000;
  opacity: 0.75;
  filter: alpha(opacity=75);
  height: 1000px;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1000;
}

.login {
  position: fixed;
  left: 30%;
  top: 30%;
  z-index: 1001;
}

.loginCon {
  width: 670px;
  height: 380px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;

}

/* 定义滚动条样式 */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: rgba(240, 240, 240, 1);
}



/* p_personal弹窗组件 */
.header{
  line-height: 50px;
  height: 50px;
  border-bottom: 1px solid #80808042;
}

.title{
  margin-left: 20px;
  float: left;
  height: 50px;
  font-weight: 700;
}
.close {
  float: right;
  font-size: 20px;
  width: 30px;
  height: 50px;
  cursor: pointer;
}

.content{
  overflow-y: scroll;
    width: 670px;
  height: 330px;
}



.content_ul{
  width: 670px;
  height: 330px;
}
.content_ul li{
  float: left;
line-height: 60px;
 width: 465px;
  height: 60px;
}

.content_ul .left{
  padding-left: 5px;
  float: left;
  width: 80px;
  font-size:12px
}

.content_ul .right{
  float: left;
}
.content_ul input{
  height: 30px;
  width: 360px;
  padding-left: 10px;
  outline: none;
  border-radius: 5px;
  border:none;
  background-color: #80808026;
}
.content_ul .w172{
  width: 172px!important;
}

/* 复杂数据 */

.leftContent{
  position: relative;
  float: left;
  width: 200px;
  height: 100%;
  overflow-y: scroll;

}
.leftContent ul{
  overflow-y: scroll;
}
.leftContent ul li{
  padding-left: 5px;
  text-align: left;
  line-height: 40px;
  height: 40px;
  width: 100%;
  font-size: 18px;
  border-bottom: 2px solid #80808047;;
  cursor: pointer;
}
.leftContent .addBox{
  position: sticky;
  top:0;
  width: 100%;
  height: 30px;
}
.leftContent .addBox button{
  margin:0 54px;
  width: 80px;
  height: 30px;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
  color:gray;
  outline:none;
}
.rightContent{
  float: right;
  width: 464px;
  height: 100%;
}

.textareaEle {
  padding: 10px;
  width: 360px;
  height: 280px;
  background-color: #80808026;
  font-size: 12px;
  border-radius: 5px;
  outline: none;
}

